@model WebApplication2.Models.GameModel

@{
    ViewData["Title"] = "Result";
    string winner = "";


}
<br />
<div class="x_title">

    <h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        RESULT
    </h3>

</div>

<br />
<h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    PLAYER 1:
</h3>
<table>


    <tr>
        @if (Model.Words != null)
        {
            for (int j = 0; j < Model.Words.Count; j++)
            {
                <td id="@j" style="border:solid;height:100px;width:100px;text-align:center">@Model.Words[j]</td>
            }
        }
    </tr>

    <tr>
        @if (Model.Words != null)
        {
            @for (int j = 0; j < Model.ResultPerWord.Count; j++)
            {
                <td id="@j" style="border:solid;height:100px;width:100px;text-align:center">@Model.ResultPerWord[j]</td>
            }
        }
    </tr>

</table>
<div class="x_title">

    <h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        TOTAL RESULT: @Model.TotalResult
    </h3>
</div>
<br />
<h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    PLAYER 2:
</h3>
<table>


    <tr>
        @if (Model.Words1 != null)
        {
            for (int j = 0; j < Model.Words1.Count; j++)
            {
                <td id="@j" style="border:solid;height:100px;width:100px;text-align:center">@Model.Words1[j]</td>
            }
        }
    </tr>

    <tr>
        @if (Model.Words1 != null)
        {
            @for (int j = 0; j < Model.ResultPerWord1.Count; j++)
            {
                <td id="@j" style="border:solid;height:100px;width:100px;text-align:center">@Model.ResultPerWord1[j]</td>
            }
        }
    </tr>

</table>
<div class="x_title">

    <h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        TOTAL RESULT: @Model.TotalResult1
    </h3>
</div>

<div class="x_title">
    @if (Model.TotalResult > Model.TotalResult1)
    {
        winner = "PLAYER 1";
    }
    else if (Model.TotalResult1 > Model.TotalResult)
    {
        winner = "PLAYER 2";
    }
    else
    {
        winner="DRAW";
    }

    <h3 style="margin-left:400px;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        WINNER IS : @winner
    </h3>
</div>

<div class="btn-group  pull-right">
    <button type="button" class="btn btn-success" onclick="again()"><span style="color:#fff;"></span> PLAY AGAIN </button>
</div>
@section Scripts {
    <script>
    var again = function () {
    location.href = '@Url.Action("Game","Home")';
    }

    </script>
}
